
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2c2f33;
    color: #fff;
  }
  
  .movie-container {
    padding: 20px;
    margin:40px;
    text-align: center;
    gap: 50px;
   
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fff;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
  }
  
  .movie-card {
    background-color: #444b52;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card img {
    width: 100%;
    border-bottom: 2px solid #555;
  }
  
  .movie-card h3 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
    color: #fff;
  }
  
  .movie-card p {
    font-size: 1rem;
    margin: 5px 0;
    color: #ccc;
  }
  
  .pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pagination button {
    padding: 10px 15px;
    border: none;
    background-color: #5865f2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #4b57e1;
  }
  
  .pagination button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  